<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.gongkao" version="1.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GongkaoTracker</name>
    <description>考公做题记录工具</description>
    <author email="user@example.com" href="https://example.com">考公助手</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="34" />
    <preference name="android-compileSdkVersion" value="34" />
</widget>
